{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Accueil
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-4 pt-4 display-10 fw-bold">
		Informatek : la boutique N°1 pour acheter son téléphone et ses accessoires 

</h1>
	</h1>
	<div class="row justify-content-center pt-5">
		<div>
			<div class"card-group g-4 pt-4">
				<div class="row row-cols-md-5 g-4 pt-4">
					{% for t in produits %}
							<div class="col">
								<div class="card" style="width: 18rem; border: none;">
									<a href="{{path('app_produit', {'id':t.id})}}"><img class="card-img-top" src="img/{{t.image}}" alt="Card image cap"> </a>
									<div class="card-body">
										<h5 class="card-title">{{t.libelle}}</h5>
										<p class="card-text">{{t.prix}}€</p>
										<div class="row row-cols-md-1">
											<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Ajouter au panier</button>
											<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
												<div class="offcanvas-header">
													<h5 id="offcanvasRightLabel">
														<Offcanvas right>C'est tout bon !</h5>
														<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
													</div>
													<div class="offcanvas-body">
														Votre produit a été ajouté au panier
													</div>
												</div>
												<a href="{{path('app_favoris_produit',{'id':t.id})}}" role="button">
												<div class="d-flex justify-content-center w-100% p-2">
												<button type="button" class="btn btn-outline-danger">	
													<i class=" bi-heart " title="adorer" ></i>
												</button>
												</div>
												</a>
											</div>
										</div>
									</div>
								</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}
